<style type='text/css'>
        div.vert_column{
                border:3px solid silver;
                border-radius:15px;
                width:20%;
                text-align:center;
        float:left;
        margin:2%;
        font-family: 'Open Sans Condensed', sans-serif;
        padding:10px;
        min-width:150px;
        }
    a{
        text-decoration:none;
        color:gray;
    }
    .action_button{
        width:120px;
        margin:10px auto;
        border-radius:5px;
        background: #0099CB;
        color:white;
    }
    .action_button:hover{
        background:#4CAFD0;
    }
    span.action_button{
        padding:0 5px;
    }
    ul{
        list-style-type:none;
        margin:0;padding:0;
    }
    ul li{
        margin:0;padding:0;
    }
</style>
<div class='vert_column'>
<h3>Name Lists</h3>
    {% for namelist in groups %}
        <a href='{% url home namelist_id=namelist.id %}'>{{ namelist.title }}</a>
    {% endfor %}
</div>
<div class='vert_column'>
    <h3>Roster</h3>
    <ul id='names'>
{% if people %}
    {% for person in people %}
        <li>
        <a href='{% url home namelist_id=this_namelist.id person_id=person.id %}'>{{ person.name }}</a>
        </li>
    {% endfor %}
{% endif %}
        <li>
            <input id='new_name' type='text' name='new_name' /><input id='new_name_button' type='submit' value='add' />
        </li>
        <li>
            Make <span id="group_num_display">3</span> groups   <input id='group_num' type='hidden' value=3 />
            <a href='#'><span class='action_button' id="add">+</span></a> | <a href='#'><span class='action_button' id='subtract'>-</span></a>
        </li>
    </ul>
    <a id='group_link' href='{% url home %}'>
        <div class='action_button'>
            <b>Group 'Em</b>
        </div>
    </a>
</div>

{% if person %}
<div class='vert_column'>
    <h3>{{ person.name }}</h3>
    <ul>
    {% for pairing in list_pairings %}
        <li>
        {% for name in pairing.people.all %}
            {% ifnotequal name person %}
                {{ name.name }}
            {% endifnotequal %}
        {% endfor %} - {{ pairing.count }} time{{ pairing.count|pluralize }}
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
