{% extends 'base.html' %}

{% block body %}
<div class='vert_column'>
<h3>Namelists</h3>
    <ul id='namelists'>
    {% for namelist in groups %}
        <li data-namelist-id={{ namelist.id }}>{{ namelist.title }}</li>
    {% empty %}
        You have no Namelists
    {% endfor %}
    </ul>
    <input type='text' id='new_namelist_title', name='new_namelist_title' />
    <div class='action_button' id='new_namelist'>+</div>
    <br />
    <a id='groups-url' href='/saved_groups/'>See Saved Groups</a>

</div>

<div class='vert_column double_wide'>
    <h3>Members</h3>
    <ul id='names'>

    {% for person in people %}
        <li data-person-id={{ person.id }}>{{ person.name }}</li>
    {% empty %}
        This group has no members
    {% endfor %}

    </ul>
    <input style="float:left; clear: both;" type='text' id='new_person_name', name='new_person_name' />
    <div class='action_button' id='new_person'>+</div>
    <!--
        <li>
            Make <span id="group_num_display">3</span> groups   <input id='group_num' type='hidden' value=3 />
            <a href='#'><span class='action_button' id="add">+</span></a> | <a href='#'><span class='action_button' id='subtract'>-</span></a>
        </li>
    -->
    <div class='action_button' id='make_groups'>
        <b>Group 'Em</b>
    </div>
</div>

<div class='vert_column' id='saved-groups' style="display:none">
    <h3>Saved Groups</h3>
    <ul id='saved-groups-list'>
    </ul>
</div>

<div class='vert_column double_wide' id='group-info' style='display:none'>
    <h3>Groups Setup</h3>
    <h4>Number of Groups: <span id=group-count></span></h4>
    <div class='small_action_button' id='add-group'>+</div>
    <div class='small_action_button' id='sub-group'>-</div>
    <ul id='groups-setup'>
    </ul>
    <br />
    <input type='text' style="display:hidden;" id='save-groups-name' />
    <div class='action_button' id='save-groups' style="display:hidden;"><strong>Save These Groups</strong></div>
    <div class='action_button' id='create-groups'><strong>Sort!</strong></div>
</div>

{% endblock %}
